body{
    background-color: rgb(119, 11, 105);
    color: white
}
header{
    background-color: thistle;
    text-align: center;
}
section{
    background-color: #4bafb3;
    width : 700px;
    ma
}
footer{
    background-color: thistle;
    text-align: center;
}