#s3{
    background-color: #FD6F96;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color : black;
    
}
#s1,#s2,#s3{
    border : 2px outset white;
    width : 300px;
    height : 20px;
    padding: 5px 20px 5px 2px;
    text-align: center;
    font-style: bold; 
}